body {
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.title {
	clear: both;
	padding-top: 50px;
}






/*
 * Positioning *
 */

.box-1,
.box-2,
.box-3,
.box-4 {

	width: 100px;
	height: 100px;

	background-color: #ee5;
	border: 1px solid #777;
}

.box-1 {
	position: relative;
}

.box-2,
.box-3,
.box-4 {
	position: fixed;

	top: 0;
	left: 0;
}

.box-2 {
	background: #f0e;
	z-index: 1;

}




/*
 * Floats *
 */

.block-1,
.block-2,
.block-3,
.block-4 {

	padding: 50px;

	/*margin: 10px;*/

	width: 50px;
	height: 50px;

	background-color: #ff5;
	border: 1px solid #777;
}

.block-2,
.block-3,
.block-4 {
	float: left;
}


.block-1 { float: right;  }